# Created by https://www.toptal.com/developers/gitignore/api/django
# Edit at https://www.toptal.com/developers/gitignore?templates=django

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

*.swp
*.pyc
*.cpython*
*/__pycache__/*
/hello_world/__pycache__/*
/tutorial/my.cnf
*my.cnf*
*bakServerSettings.py*

# End of https://www.toptal.com/developers/gitignore/api/django

*staticfiles*
*evernoteDataParsing/*
hello_world/evernoteDataParsing/
*my*
/hello_world/static/*
